{% load static %}
<nav class="navbar sticky-top navbar-light" id="main-navbar">
    <div class="container">
        <a class="navbar-brand pr-3" style="border-right: 1px solid #efefef;" href="{% url 'posts:feed' %}">
            <img src="{% static "img/logo.svg" %}" height="80" class="d-inline-block align-top"/>
        </a>
            <ul class="navbar ml-auto">
                <li class="nav-item d-inline-block">
                    <a href="{% url 'users:detail' request.user.username %}">
                        {% if request.user.profile.picture %}
                            <img src="{{request.user.profile.picture.url}}" height="45" class="d-inline-block align-top rounded-circle"/>
                        {% else %}
                            <img src="{% static "img/default-profile.png" %}" height="45" class="d-inline-block align-top rounded-circle"/>
                        {% endif %}
                    </a>
                </li>

                <li class="nav-icon d-inline-block">
                    <a href={% url 'posts:create' %}>
                        <i class="fas fa-plus"></i>
                    </a>
                </li>

                <li class="nav-icon d-inline-block">
                    <a href="{% url 'users:logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>

            </ul>
    </div>
</nav>